<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>LDP Quiz Completer</title>
</head>
    <body>
        <div class="popup">
            <p class="popup-body"></p>
        </div> 
        <div class="container">
            <div class="login-box">
                <h2>Quiz Info</h2>
                <form action="/execute" method="post">
                    <div class="input-box">
                        <input type="url" name="quizurl" required>
                        <label>Quiz URL</label>
                    </div>
                    <div class="radio-box">
                        <input id="radio-1" type="radio" name="option" value="a" />
                        <label for="radio-1" onmouseover="ShowInformation('Fill: Enter the same value for all questions, such as 1 initially, then 2, and so forth. This method helps clear exams in 3-4 attempts.')" onmouseleave="HideInformation()">Fill</label>

                        <input id="radio-2" type="radio" name="option" value="b" checked="checked" />
                        <label for="radio-2" onmouseover="ShowInformation('Fill + GPT: Similar to the first option, but questions with a weightage higher than 1 will be answered by ChatGPT. (Preferred method).')" onmouseleave="HideInformation()">Fill + GPT</label>

                        <input id="radio-3" type="radio" name="option" value="c" />
                        <label for="radio-3" onmouseover="ShowInformation('GPT: ChatGPT will answer all quiz questions, but this option may take longer than others and some answers may be incorrect.')" onmouseleave="HideInformation()">GPT</label>
                    </div>
                    <div class="input-box" id="second-textbox">
                        <input type="text" name="fillvalue" disabled>
                        <label>Fill Value</label>
                    </div>
                    <button type="submit" class="btn" onclick="StartAnimation()">Execute</button>
                </form>
            </div>
            <h1 class="progress">Time to kick off the madness!!!</h1>
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            <span style="--i:4;"></span>
            <span style="--i:5;"></span>
            <span style="--i:6;"></span>
            <span style="--i:7;"></span>
            <span style="--i:8;"></span>
            <span style="--i:9;"></span>
            <span style="--i:10;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:13;"></span>
            <span style="--i:14;"></span>
            <span style="--i:15;"></span>
            <span style="--i:16;"></span>
            <span style="--i:17;"></span>
            <span style="--i:18;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:21;"></span>
            <span style="--i:22;"></span>
            <span style="--i:23;"></span>
            <span style="--i:24;"></span>
            <span style="--i:25;"></span>
            <span style="--i:26;"></span>
            <span style="--i:27;"></span>
            <span style="--i:28;"></span>
            <span style="--i:29;"></span>
            <span style="--i:30;"></span>
            <span style="--i:31;"></span>
            <span style="--i:32;"></span>
            <span style="--i:33;"></span>
            <span style="--i:34;"></span>
            <span style="--i:35;"></span>
            <span style="--i:36;"></span>
            <span style="--i:37;"></span>
            <span style="--i:38;"></span>
            <span style="--i:39;"></span>
            <span style="--i:40;"></span>
            <span style="--i:41;"></span>
            <span style="--i:42;"></span>
            <span style="--i:43;"></span>
            <span style="--i:44;"></span>
            <span style="--i:45;"></span>
            <span style="--i:46;"></span>
            <span style="--i:47;"></span>
            <span style="--i:48;"></span>
            <span style="--i:49;"></span>
        </div>
        <div class="prompt">Made With 𓆩🖤𓆪 By Guru</li>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var radioOption = document.querySelectorAll('input[name="option"]');
                const input = document.querySelector("#second-textbox input");
                input.removeAttribute("disabled");
                radioOption.forEach(function (radio) {
                    radio.addEventListener('change', function () {
                        if (this.value === 'a' || this.value === 'b') {
                            input.removeAttribute("disabled");
                        } else {
                            input.value = "";
                            input.setAttribute("disabled", "true");
                        }
                    });
                });
            });

            function StartAnimation() {
                const spans = document.querySelectorAll('.container span');
                spans.forEach((span) => {
                    span.style.animation = "animateBlink 3s linear infinite";
                    span.style.animationDelay = "calc(var(--i) * (3s / 50))";
                });

                const progress = document.querySelector('.progress');
                progress.style.visibility = "visible";

                const loginFrom = document.querySelector('.login-box');
                loginFrom.style.visibility = "hidden";
                setTimeout(() => {
                    RunningStatus();
                }, 1000);

            }

            function ShowInformation(message) {
                const progress = document.querySelector('.popup-body');
                progress.innerHTML = message;

            }

            function HideInformation (){
                const progress = document.querySelector('.popup-body');
                progress.innerHTML = "";

            }

            function RunningStatus() {
                const interval = setInterval(() => {
                    fetch('/progress')
                        .then(response => response.json())
                        .then(data => {
                            if (data.RunningStatus === "OK") {
                                clearInterval(interval)
                                console.log("runnig")
                                animationRunning = false;
                            } else {
                                const progress = document.querySelector('.progress');
                                progress.innerHTML = data.RunningStatus;
                            }
                        })
                        .catch(error => {
                            console.error('Error fetching status:', error);
                        });
                }, 1000); // Poll every second
            }
        </script>
    </body>

</html>